{% for server, server_info in infos.items() %}
{% if server_info.time.timestamp() > 0 and (show_all or server_info.info|selectattr('free')|first) %}
    <h2>{{ server }}</h2>
    <div>Last Updated: {{ server_info.time.strftime('%d.%m.%Y %H:%M') }}</div>
    {% if server_info.smi_error %}
    <div>Cannot update entries because of an NVML issue.</div>
    {% else %}
    <div>
        <div class='divTable'>
            <div class='divTableRow'>
                <div class='divTableCell'>Id</div>
                <div class='divTableCell'>Free?</div>
                <div class='divTableCell'>Model</div>
                <div class='divTableCell'>Memory</div>
                {% if show_all %}
                <div class='divTableCell'>Util</div>
                <div class='divTableCell'>Used Mem</div>
                <div class='divTableCell'>User</div>
                {% endif %}
            </div>
            {% for gpu in server_info.info %}
            {% if gpu.free or show_all %}
            <div class='divTableRow'>
                <div class='divTableCell'>{{ gpu.idx }}</div>
                <div class='divTableCell'>{% if gpu.free %}<span style='color: green;'>&#10003;</span>{% else %}<span style='color: red;'>&#10007;</span>{% endif %}</div>
                <div class='divTableCell'>{{ gpu.model }}</div>
                <div class='divTableCell'>{{ gpu.mem }}</div>
                {% if show_all %}
                <div class='divTableCell'>{{ gpu.gpu_util }}</div>
                <div class='divTableCell'>{{ gpu.used_mem }}</div>
                <div class='divTableCell'><ul>{% for user in gpu.real_users %}<li>{{ user }}</li>{% endfor %}</ul></div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endif %}
{% endfor %}
